body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/Background-pagina/background.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(80%) contrast(80%) blur(0px) opacity(85%) grayscale(10%);
    z-index: -1;
}

.conteiner{
    background-color: #f7f7f7;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font: normal 15pt Arial;

}


.title {
    font-family: "Roboto", sans-serif;
    color: #4D8989;
    font-weight: 100;
    font-style: normal;
    padding-top: 20vh;
    text-align: center;
}
.carousel-item img {
    margin: auto;
    padding-bottom: 20vh;
    display: block;
}