body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/Background-pagina/background.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(80%) contrast(80%) blur(0px) opacity(85%) grayscale(10%);
    z-index: -1;
}

.conteiner{
    background-color: #f7f7f7;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font: normal 15pt Arial;
    font-size: 15pt;
}

.title {
    font-family: "Roboto", sans-serif;
    color: #dfdfdf;
    font-weight: 100;
    font-style: normal;
    max-width: 100%;
    padding-bottom: 12vh;
    padding-top: 30vh;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(11, 75, 11, 0.5);
}
.carousel-item img {
    margin: auto;
    max-width: 100%;
    padding-bottom: 20vh;
    display: block;
}
.footer{

}