body {
    margin: 0;
   /*  background: rgb(23,33,42);
    background: linear-gradient(90deg, rgba(23,33,42,1) 7%, rgba(77,112,144,1) 50%, rgba(23,33,42,1) 94%); */
    background: #F0FFF0;
    font: normal 15pt Arial;  
}


.headerContainer {
    height: 89px;
    background: rgb(165,173,173);
    background: linear-gradient(90deg, rgba(165,173,173,1) 28%, rgba(95,153,153,1) 100%);
}

img {
    height: 89px;
    cursor: pointer;
    margin-right: 30px;
}
.headerContent {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 89px;
    margin: 0 auto;
    padding: 0 32px;
}

nav {
    height: 96px;
}

a {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    height: 89px;
    line-height: 89px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a ~ a {
    margin-left: 30px;
}

a:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

@media (max-width: 700px) {
    .headerContainer {
        height: 176px;
        padding: 8px 0;
    }

    .headerContent {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    a ~ a {
        margin-left: 8px;
    }
}

@media (max-width: 450px) {
    a {
        font-size: 13pt;
    }
}

.caixa-texto {
    background: #d3d3d3;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    margin: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
}

p {
    font-family: "Parisienne", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20pt;
}

.bodyContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

    .foto-grupo {
    height: 500px;
    width: auto;
    border: 15px double ;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}

@media (max-width: 1420px) {
    .foto-grupo {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 1270px) {
    .foto-grupo {
        display: none;
    }

    .caixa-texto {
        margin: auto;
    }
}

@media (max-width: 500px) {
    .bodyContainer {
        padding:0;
    }

    .caixa-texto {
        border-radius: 0;
    }
}




