body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.15rem;
}

.titulo-pagina {
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 3.125rem;
    font-family: "Caveat", cursive;
    letter-spacing: 2px;
    text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px  1px 0 #000,
                4px  2px 0 #000;
    z-index: -1;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    padding-top: 30vh;
}

.texto {
    width: 45%;
    background: #d3d3d3;
    border-radius: 20px;
    padding: 0.9375rem;
    width: 600px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
}

.carrossel {
    width: 50%;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
}

.slide img {
    background: rgb(255, 253, 191);
    width: 600px;
    height: 470px;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
}

.slide.ativo {
    display: block;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 0.125rem 1.25rem;
    background-color: #d3d3d3;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
}

.campo-preencher {
    width: 100%;
    height: 1.5625rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.3125rem;
}


.form-container h2 {
    font-size: 25px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.tipo-agendamento {
    margin-left: -0.4375rem;
}

.checkbox~.checkbox {
    margin-left: 0.625rem;
}

.button-group {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: solid black 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

button:hover {
    background-color: #05e72b;
    transform: scale(1.11);
    transition: 0.2s ease-in-out;
    color: #FFF;
}

:root {
    --neutral-color-1: #6b6a6a;
    --neutral-color-2: #cccccc;
    --neutral-color-3: rgb(29, 29, 29);
    --neutral-color-4: rgb(19, 19, 19);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer {
    margin-top: 100px;
    width: 100%;
    color: var(--neutral-color-2);
    flex-direction: column;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background: var(--neutral-color-4);
    display: grid;
    grid-template-columns:repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--neutral-color-4);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i{
    font-size: 1.25rem
}

#footer-social-media .footer-link:hover{
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9,#ff2992, #ff9807);
}

#facebook {
    background-color: #1f22d3;
}

#github {
    background-color: #98989c;
}

.footer-list {
    display:flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--neutral-color-1);
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #ffffff;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--neutral-color-2);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: green;
    border: none;
    color: var(--neutral-color-2);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}


#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--neutral-color-4);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}