body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.15rem;
}

.titulo-pagina {
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    color: #fff;
    font-size: 3.125rem;
    font-family: "Caveat", cursive;
    letter-spacing: 2px;
    text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px  1px 0 #000,
                4px  2px 0 #000;
    z-index: -1;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    padding-top: 30vh;
}

.texto {
    width: 45%;
    background: #d3d3d3;
    border-radius: 20px;
    padding: 0.9375rem;
    width: 600px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
}

.carrossel {
    width: 50%;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
}

.slide img {
    background: rgb(255, 253, 191);
    width: 600px;
    height: 470px;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
}

.slide.ativo {
    display: block;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 0.125rem 1.25rem;
    background-color: #d3d3d3;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
}

.campo-preencher {
    width: 100%;
    height: 1.5625rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.3125rem;
}


.form-container h2 {
    font-size: 25px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.tipo-agendamento {
    margin-left: -0.4375rem;
}

.checkbox~.checkbox {
    margin-left: 0.625rem;
}

.button-group {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: solid black 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

button:hover {
    background-color: #05e72b;
    transform: scale(1.11);
    transition: 0.2s ease-in-out;
    color: #FFF;
}