body {
    margin: 0;
    font: normal 15pt Arial;
}

h1 {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    color: #fff;
    padding: 0x;
    font-size: 50px;
    font-family: "Caveat", cursive;
    letter-spacing: 2px;
    text-shadow:
                -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 4px  2px 0 #000;
    filter: brightness(75%) contrast(75%) blur(0px) grayscale(40%) opacity(0.6);
    z-index: -1;
}


.headerContainer {
    height: 89px;
    background: rgb(165,173,173);
    background: linear-gradient(90deg, rgba(165,173,173,1) 28%, rgba(95,153,153,1) 100%);
}

img {
    height: 89px;
    cursor: pointer;
    margin-right: 30px;
}
.headerContent {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 89px;
    margin: 0 auto;
    padding: 0 32px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 7.5%;
}

.texto {
    width: 45%;
    background: #d3d3d3;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    margin: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.50);
    font-family: initial;
}

.carrossel {
    width: 50%;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
}

.slide img {
    background: rgb(255, 253, 191);
    width: 600px;
    height: 470px;
    border-radius: 50px;
    padding: 5px;
    width: 600px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
}

.slide.ativo {
    display: block;
}
